body{
    height: 100vh;
    /* background-color: brown; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/* image */

img.icon{
    width: 30%;
    height: 30%;
    border-radius: 50%;
}


div.head {
    height: 10vh;
    background-color: blue;
}


div.body {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

section {
    /* border: 2px solid; */
}

section.info {
    width: 50%;
    height: 20vh;
}

section.image {
    width: 50%;
    align-self: flex-end;
}

div.main {
    width: 70vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;
    /* border: 2px solid; */
    /* background-color: aqua; */
}


section.info ul{
    list-style-type: none;
    background-color: red;
}